Repository blitzy-public-samples/goshare-fleet-tracking-y6kjv5, changes with the owners that .github/CODEOWNERS names for each.
All owners: @org/platform-admins, @org/backend-team, @org/tech-leads, @org/frontend-team, @org/mobile-team, @org/devops-team, @org/security-team, @org/qa-team

.github/CODEOWNERS:

# Human Tasks:
# 1. Verify that all team groups (@org/backend-team, @org/frontend-team, etc.) exist in your GitHub organization
# 2. Ensure all team members are assigned to their respective groups in GitHub
# 3. Configure branch protection rules in GitHub repository settings to enforce code review requirements
# 4. Set up automated notifications for code review assignments

# Global owners - Platform administrators will be requested for review on all changes
# Requirement: Development Process Controls - Enforces code review requirements
* @org/platform-admins

# Backend service ownership
# Requirement: Security Architecture - SOC 2 and ISO 27001 compliance for backend services
/src/backend/ @org/backend-team @org/tech-leads

# Web dashboard ownership
# Requirement: Development Process Controls - Frontend code review coverage
/src/web/ @org/frontend-team @org/tech-leads

# Mobile app ownership - Android
# Requirement: Development Process Controls - Mobile app code review coverage
/src/android/ @org/mobile-team @org/tech-leads

# Mobile app ownership - iOS
# Requirement: Development Process Controls - Mobile app code review coverage
/src/ios/ @org/mobile-team @org/tech-leads

# Infrastructure code ownership
# Requirement: Security Architecture - Infrastructure security compliance
/infrastructure/ @org/devops-team @org/tech-leads

# Terraform file ownership
# Requirement: Security Architecture - Infrastructure as Code security review
*.tf @org/devops-team

# Kubernetes and infrastructure YAML ownership
# Requirement: Security Architecture - Container orchestration security review
*.yaml @org/devops-team

# Encryption utility ownership
# Requirement: Security Architecture - Cryptography implementation review
/src/backend/src/common/utils/encryption.ts @org/security-team @org/tech-leads

# Security-related configuration ownership
# Requirement: Security Architecture - Security configuration review
*/security/* @org/security-team

# Test file ownership - TypeScript
# Requirement: Development Process Controls - Test coverage review
*.test.ts @org/qa-team @org/tech-leads

# React component test file ownership
# Requirement: Development Process Controls - Frontend test coverage review
*.test.tsx @org/qa-team @org/tech-leads

# Python test file ownership
# Requirement: Development Process Controls - Python test coverage review
*.test.py @org/qa-team @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/android/tests/integration/location.test.ts
  src/android/tests/integration/location.test.ts
Owners: @org/qa-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/android/tests/integration/offline.test.ts
  src/android/tests/integration/offline.test.ts
Owners: @org/qa-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/android/tests/unit/components.test.tsx
  src/android/tests/unit/components.test.tsx
Owners: @org/qa-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/android/tests/unit/hooks.test.ts
  src/android/tests/unit/hooks.test.ts
Owners: @org/qa-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/android/tests/unit/services.test.ts
  src/android/tests/unit/services.test.ts
Owners: @org/qa-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/android/tests/unit/utils.test.ts
  src/android/tests/unit/utils.test.ts
Owners: @org/qa-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/backend/.env.example
  src/backend/.env.example
Owners: @org/backend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/backend/.gitignore
  src/backend/.gitignore
Owners: @org/backend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @org/backend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/backend/Dockerfile.analytics
  src/backend/Dockerfile.analytics
Owners: @org/backend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/backend/README.md
  src/backend/README.md
Owners: @org/backend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @org/backend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/backend/jest.config.js
  src/backend/jest.config.js
Owners: @org/backend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/backend/requirements.txt
  src/backend/requirements.txt
Owners: @org/backend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/backend/docs/api.yaml
  src/backend/docs/api.yaml
Owners: @org/devops-team

Add public-samples/goshare-fleet-tracking-y6kjv5/src/backend/docs/architecture.md
  src/backend/docs/architecture.md
Owners: @org/backend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/backend/docs/deployment.md
  src/backend/docs/deployment.md
Owners: @org/backend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/backend/docs/setup.md
  src/backend/docs/setup.md
Owners: @org/backend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/backend/kubernetes/configmap.yaml
  src/backend/kubernetes/configmap.yaml
Owners: @org/devops-team

Add public-samples/goshare-fleet-tracking-y6kjv5/src/backend/kubernetes/deployment.yaml
  src/backend/kubernetes/deployment.yaml
Owners: @org/devops-team

Add public-samples/goshare-fleet-tracking-y6kjv5/src/backend/kubernetes/ingress.yaml
  src/backend/kubernetes/ingress.yaml
Owners: @org/devops-team

Add public-samples/goshare-fleet-tracking-y6kjv5/src/backend/kubernetes/secret.yaml
  src/backend/kubernetes/secret.yaml
Owners: @org/devops-team

Add public-samples/goshare-fleet-tracking-y6kjv5/src/backend/kubernetes/service.yaml
  src/backend/kubernetes/service.yaml
Owners: @org/devops-team

Add public-samples/goshare-fleet-tracking-y6kjv5/src/backend/scripts/backup.sh
  src/backend/scripts/backup.sh
Owners: @org/backend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/backend/scripts/deploy.sh
  src/backend/scripts/deploy.sh
Owners: @org/backend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/backend/scripts/migration.sh
  src/backend/scripts/migration.sh
Owners: @org/backend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/backend/scripts/setup.sh
  src/backend/scripts/setup.sh
Owners: @org/backend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/backend/src/common/config/database.ts
  src/backend/src/common/config/database.ts
Owners: @org/backend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/backend/src/common/config/redis.ts
  src/backend/src/common/config/redis.ts
Owners: @org/backend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/backend/src/common/config/socket.ts
  src/backend/src/common/config/socket.ts
Owners: @org/backend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/backend/src/common/constants/index.ts
  src/backend/src/common/constants/index.ts
Owners: @org/backend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/backend/src/common/middleware/errorHandler.ts
  src/backend/src/common/middleware/errorHandler.ts
Owners: @org/backend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/backend/src/common/middleware/rateLimiter.ts
  src/backend/src/common/middleware/rateLimiter.ts
Owners: @org/backend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/backend/src/common/middleware/validator.ts
  src/backend/src/common/middleware/validator.ts
Owners: @org/backend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/backend/src/common/types/index.ts
  src/backend/src/common/types/index.ts
Owners: @org/backend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/backend/src/common/utils/encryption.ts
  src/backend/src/common/utils/encryption.ts
Owners: @org/security-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/backend/src/common/utils/logger.ts
  src/backend/src/common/utils/logger.ts
Owners: @org/backend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/backend/src/services/analytics/index.py
  src/backend/src/services/analytics/index.py
Owners: @org/backend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/backend/src/services/analytics/controllers/analyticsController.py
  src/backend/src/services/analytics/controllers/analyticsController.py
Owners: @org/backend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/backend/src/services/analytics/models/analyticsModel.py
  src/backend/src/services/analytics/models/analyticsModel.py
Owners: @org/backend-team, @org/tech-leads
