Repository blitzy-public-samples/goshare-fleet-tracking-y6kjv5, changes with the owners that .github/CODEOWNERS names for each.
All owners: @org/platform-admins, @org/backend-team, @org/tech-leads, @org/frontend-team, @org/mobile-team, @org/devops-team, @org/security-team, @org/qa-team

Add public-samples/goshare-fleet-tracking-y6kjv5/.github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @org/platform-admins

Add public-samples/goshare-fleet-tracking-y6kjv5/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @org/platform-admins

Add public-samples/goshare-fleet-tracking-y6kjv5/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @org/platform-admins

Add public-samples/goshare-fleet-tracking-y6kjv5/.github/workflows/android.yml
  .github/workflows/android.yml
Owners: @org/platform-admins

Add public-samples/goshare-fleet-tracking-y6kjv5/.github/workflows/backend.yml
  .github/workflows/backend.yml
Owners: @org/platform-admins

Add public-samples/goshare-fleet-tracking-y6kjv5/.github/workflows/ios.yml
  .github/workflows/ios.yml
Owners: @org/platform-admins

Add public-samples/goshare-fleet-tracking-y6kjv5/.github/workflows/web.yml
  .github/workflows/web.yml
Owners: @org/platform-admins

Add public-samples/goshare-fleet-tracking-y6kjv5/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @org/platform-admins

Add public-samples/goshare-fleet-tracking-y6kjv5/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @org/platform-admins

Add public-samples/goshare-fleet-tracking-y6kjv5/documentation/Software Requirements Specifications (SRS).md
  documentation/Software Requirements Specifications (SRS).md
Owners: @org/platform-admins

Add public-samples/goshare-fleet-tracking-y6kjv5/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @org/platform-admins

Add public-samples/goshare-fleet-tracking-y6kjv5/infrastructure/kubernetes/ingress/cert-manager.yaml
  infrastructure/kubernetes/ingress/cert-manager.yaml
Owners: @org/devops-team

Add public-samples/goshare-fleet-tracking-y6kjv5/infrastructure/kubernetes/ingress/nginx-ingress.yaml
  infrastructure/kubernetes/ingress/nginx-ingress.yaml
Owners: @org/devops-team

Add public-samples/goshare-fleet-tracking-y6kjv5/infrastructure/kubernetes/monitoring/grafana/configmap.yaml
  infrastructure/kubernetes/monitoring/grafana/configmap.yaml
Owners: @org/devops-team

Add public-samples/goshare-fleet-tracking-y6kjv5/infrastructure/kubernetes/monitoring/grafana/deployment.yaml
  infrastructure/kubernetes/monitoring/grafana/deployment.yaml
Owners: @org/devops-team

Add public-samples/goshare-fleet-tracking-y6kjv5/infrastructure/kubernetes/monitoring/grafana/service.yaml
  infrastructure/kubernetes/monitoring/grafana/service.yaml
Owners: @org/devops-team

Add public-samples/goshare-fleet-tracking-y6kjv5/infrastructure/kubernetes/monitoring/prometheus/configmap.yaml
  infrastructure/kubernetes/monitoring/prometheus/configmap.yaml
Owners: @org/devops-team

Add public-samples/goshare-fleet-tracking-y6kjv5/infrastructure/kubernetes/monitoring/prometheus/deployment.yaml
  infrastructure/kubernetes/monitoring/prometheus/deployment.yaml
Owners: @org/devops-team

Add public-samples/goshare-fleet-tracking-y6kjv5/infrastructure/kubernetes/monitoring/prometheus/service.yaml
  infrastructure/kubernetes/monitoring/prometheus/service.yaml
Owners: @org/devops-team

Add public-samples/goshare-fleet-tracking-y6kjv5/infrastructure/kubernetes/namespaces/dev.yaml
  infrastructure/kubernetes/namespaces/dev.yaml
Owners: @org/devops-team

Add public-samples/goshare-fleet-tracking-y6kjv5/infrastructure/kubernetes/namespaces/prod.yaml
  infrastructure/kubernetes/namespaces/prod.yaml
Owners: @org/devops-team

Add public-samples/goshare-fleet-tracking-y6kjv5/infrastructure/kubernetes/namespaces/staging.yaml
  infrastructure/kubernetes/namespaces/staging.yaml
Owners: @org/devops-team

Add public-samples/goshare-fleet-tracking-y6kjv5/infrastructure/kubernetes/security/network-policies.yaml
  infrastructure/kubernetes/security/network-policies.yaml
Owners: @org/devops-team

Add public-samples/goshare-fleet-tracking-y6kjv5/infrastructure/kubernetes/security/pod-security-policies.yaml
  infrastructure/kubernetes/security/pod-security-policies.yaml
Owners: @org/devops-team

Add public-samples/goshare-fleet-tracking-y6kjv5/infrastructure/kubernetes/security/rbac.yaml
  infrastructure/kubernetes/security/rbac.yaml
Owners: @org/devops-team

Add public-samples/goshare-fleet-tracking-y6kjv5/infrastructure/kubernetes/security/service-accounts.yaml
  infrastructure/kubernetes/security/service-accounts.yaml
Owners: @org/devops-team

Add public-samples/goshare-fleet-tracking-y6kjv5/infrastructure/kubernetes/storage/persistent-volumes.yaml
  infrastructure/kubernetes/storage/persistent-volumes.yaml
Owners: @org/devops-team

Add public-samples/goshare-fleet-tracking-y6kjv5/infrastructure/kubernetes/storage/storage-class.yaml
  infrastructure/kubernetes/storage/storage-class.yaml
Owners: @org/devops-team

Add public-samples/goshare-fleet-tracking-y6kjv5/infrastructure/scripts/backup.sh
  infrastructure/scripts/backup.sh
Owners: @org/devops-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/infrastructure/scripts/deploy.sh
  infrastructure/scripts/deploy.sh
Owners: @org/devops-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/infrastructure/scripts/monitoring-setup.sh
  infrastructure/scripts/monitoring-setup.sh
Owners: @org/devops-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/infrastructure/scripts/security-setup.sh
  infrastructure/scripts/security-setup.sh
Owners: @org/devops-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @org/devops-team

Add public-samples/goshare-fleet-tracking-y6kjv5/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @org/devops-team

Add public-samples/goshare-fleet-tracking-y6kjv5/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @org/devops-team

Add public-samples/goshare-fleet-tracking-y6kjv5/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @org/devops-team

Add public-samples/goshare-fleet-tracking-y6kjv5/infrastructure/terraform/environments/dev/main.tf
  infrastructure/terraform/environments/dev/main.tf
Owners: @org/devops-team

Add public-samples/goshare-fleet-tracking-y6kjv5/infrastructure/terraform/environments/dev/variables.tf
  infrastructure/terraform/environments/dev/variables.tf
Owners: @org/devops-team

Add public-samples/goshare-fleet-tracking-y6kjv5/infrastructure/terraform/environments/prod/main.tf
  infrastructure/terraform/environments/prod/main.tf
Owners: @org/devops-team

Add public-samples/goshare-fleet-tracking-y6kjv5/infrastructure/terraform/environments/prod/variables.tf
  infrastructure/terraform/environments/prod/variables.tf
Owners: @org/devops-team

.github/CODEOWNERS:

# Human Tasks:
# 1. Verify that all team groups (@org/backend-team, @org/frontend-team, etc.) exist in your GitHub organization
# 2. Ensure all team members are assigned to their respective groups in GitHub
# 3. Configure branch protection rules in GitHub repository settings to enforce code review requirements
# 4. Set up automated notifications for code review assignments

# Global owners - Platform administrators will be requested for review on all changes
# Requirement: Development Process Controls - Enforces code review requirements
* @org/platform-admins

# Backend service ownership
# Requirement: Security Architecture - SOC 2 and ISO 27001 compliance for backend services
/src/backend/ @org/backend-team @org/tech-leads

# Web dashboard ownership
# Requirement: Development Process Controls - Frontend code review coverage
/src/web/ @org/frontend-team @org/tech-leads

# Mobile app ownership - Android
# Requirement: Development Process Controls - Mobile app code review coverage
/src/android/ @org/mobile-team @org/tech-leads

# Mobile app ownership - iOS
# Requirement: Development Process Controls - Mobile app code review coverage
/src/ios/ @org/mobile-team @org/tech-leads

# Infrastructure code ownership
# Requirement: Security Architecture - Infrastructure security compliance
/infrastructure/ @org/devops-team @org/tech-leads

# Terraform file ownership
# Requirement: Security Architecture - Infrastructure as Code security review
*.tf @org/devops-team

# Kubernetes and infrastructure YAML ownership
# Requirement: Security Architecture - Container orchestration security review
*.yaml @org/devops-team

# Encryption utility ownership
# Requirement: Security Architecture - Cryptography implementation review
/src/backend/src/common/utils/encryption.ts @org/security-team @org/tech-leads

# Security-related configuration ownership
# Requirement: Security Architecture - Security configuration review
*/security/* @org/security-team

# Test file ownership - TypeScript
# Requirement: Development Process Controls - Test coverage review
*.test.ts @org/qa-team @org/tech-leads

# React component test file ownership
# Requirement: Development Process Controls - Frontend test coverage review
*.test.tsx @org/qa-team @org/tech-leads

# Python test file ownership
# Requirement: Development Process Controls - Python test coverage review
*.test.py @org/qa-team @org/tech-leads
