Repository blitzy-public-samples/goshare-fleet-tracking-y6kjv5, changes with the owners that .github/CODEOWNERS names for each.
All owners: @org/platform-admins, @org/backend-team, @org/tech-leads, @org/frontend-team, @org/mobile-team, @org/devops-team, @org/security-team, @org/qa-team

Add public-samples/goshare-fleet-tracking-y6kjv5/src/ios/FleetTrackerTests/OfflineTests/OfflineStorageTests.swift
  src/ios/FleetTrackerTests/OfflineTests/OfflineStorageTests.swift
Owners: @org/mobile-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/ios/FleetTrackerTests/RouteTests/RouteServiceTests.swift
  src/ios/FleetTrackerTests/RouteTests/RouteServiceTests.swift
Owners: @org/mobile-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/ios/FleetTrackerTests/UtilsTests/LocationManagerTests.swift
  src/ios/FleetTrackerTests/UtilsTests/LocationManagerTests.swift
Owners: @org/mobile-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/ios/FleetTrackerUITests/AuthUITests.swift
  src/ios/FleetTrackerUITests/AuthUITests.swift
Owners: @org/mobile-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/ios/FleetTrackerUITests/DeliveryUITests.swift
  src/ios/FleetTrackerUITests/DeliveryUITests.swift
Owners: @org/mobile-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/ios/FleetTrackerUITests/MapUITests.swift
  src/ios/FleetTrackerUITests/MapUITests.swift
Owners: @org/mobile-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/ios/FleetTrackerUITests/RouteUITests.swift
  src/ios/FleetTrackerUITests/RouteUITests.swift
Owners: @org/mobile-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/ios/fastlane/Appfile
  src/ios/fastlane/Appfile
Owners: @org/mobile-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/ios/fastlane/Fastfile
  src/ios/fastlane/Fastfile
Owners: @org/mobile-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/ios/fastlane/Matchfile
  src/ios/fastlane/Matchfile
Owners: @org/mobile-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/web/.env.example
  src/web/.env.example
Owners: @org/frontend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/web/.eslintrc.js
  src/web/.eslintrc.js
Owners: @org/frontend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/web/.gitignore
  src/web/.gitignore
Owners: @org/frontend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/web/.prettierrc
  src/web/.prettierrc
Owners: @org/frontend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/web/Dockerfile
  src/web/Dockerfile
Owners: @org/frontend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/web/README.md
  src/web/README.md
Owners: @org/frontend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/web/docker-compose.yml
  src/web/docker-compose.yml
Owners: @org/frontend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/web/jest.config.js
  src/web/jest.config.js
Owners: @org/frontend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/web/docs/architecture.md
  src/web/docs/architecture.md
Owners: @org/frontend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/web/docs/components.md
  src/web/docs/components.md
Owners: @org/frontend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/web/docs/deployment.md
  src/web/docs/deployment.md
Owners: @org/frontend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/web/docs/setup.md
  src/web/docs/setup.md
Owners: @org/frontend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/web/kubernetes/configmap.yaml
  src/web/kubernetes/configmap.yaml
Owners: @org/devops-team

Add public-samples/goshare-fleet-tracking-y6kjv5/src/web/kubernetes/deployment.yaml
  src/web/kubernetes/deployment.yaml
Owners: @org/devops-team

Add public-samples/goshare-fleet-tracking-y6kjv5/src/web/kubernetes/ingress.yaml
  src/web/kubernetes/ingress.yaml
Owners: @org/devops-team

Add public-samples/goshare-fleet-tracking-y6kjv5/src/web/kubernetes/service.yaml
  src/web/kubernetes/service.yaml
Owners: @org/devops-team

Add public-samples/goshare-fleet-tracking-y6kjv5/src/web/nginx/default.conf
  src/web/nginx/default.conf
Owners: @org/frontend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/web/nginx/nginx.conf
  src/web/nginx/nginx.conf
Owners: @org/frontend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/web/public/favicon.ico
  src/web/public/favicon.ico
Owners: @org/frontend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/web/public/index.html
  src/web/public/index.html
Owners: @org/frontend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/web/public/robots.txt
  src/web/public/robots.txt
Owners: @org/frontend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/web/scripts/build.sh
  src/web/scripts/build.sh
Owners: @org/frontend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/web/scripts/deploy.sh
  src/web/scripts/deploy.sh
Owners: @org/frontend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/web/scripts/test.sh
  src/web/scripts/test.sh
Owners: @org/frontend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @org/frontend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/web/src/index.tsx
  src/web/src/index.tsx
Owners: @org/frontend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/web/src/components/analytics/Charts.tsx
  src/web/src/components/analytics/Charts.tsx
Owners: @org/frontend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/web/src/components/analytics/Dashboard.tsx
  src/web/src/components/analytics/Dashboard.tsx
Owners: @org/frontend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/web/src/components/analytics/KPICards.tsx
  src/web/src/components/analytics/KPICards.tsx
Owners: @org/frontend-team, @org/tech-leads

Add public-samples/goshare-fleet-tracking-y6kjv5/src/web/src/components/analytics/Reports.tsx
  src/web/src/components/analytics/Reports.tsx
Owners: @org/frontend-team, @org/tech-leads

.github/CODEOWNERS:

# Human Tasks:
# 1. Verify that all team groups (@org/backend-team, @org/frontend-team, etc.) exist in your GitHub organization
# 2. Ensure all team members are assigned to their respective groups in GitHub
# 3. Configure branch protection rules in GitHub repository settings to enforce code review requirements
# 4. Set up automated notifications for code review assignments

# Global owners - Platform administrators will be requested for review on all changes
# Requirement: Development Process Controls - Enforces code review requirements
* @org/platform-admins

# Backend service ownership
# Requirement: Security Architecture - SOC 2 and ISO 27001 compliance for backend services
/src/backend/ @org/backend-team @org/tech-leads

# Web dashboard ownership
# Requirement: Development Process Controls - Frontend code review coverage
/src/web/ @org/frontend-team @org/tech-leads

# Mobile app ownership - Android
# Requirement: Development Process Controls - Mobile app code review coverage
/src/android/ @org/mobile-team @org/tech-leads

# Mobile app ownership - iOS
# Requirement: Development Process Controls - Mobile app code review coverage
/src/ios/ @org/mobile-team @org/tech-leads

# Infrastructure code ownership
# Requirement: Security Architecture - Infrastructure security compliance
/infrastructure/ @org/devops-team @org/tech-leads

# Terraform file ownership
# Requirement: Security Architecture - Infrastructure as Code security review
*.tf @org/devops-team

# Kubernetes and infrastructure YAML ownership
# Requirement: Security Architecture - Container orchestration security review
*.yaml @org/devops-team

# Encryption utility ownership
# Requirement: Security Architecture - Cryptography implementation review
/src/backend/src/common/utils/encryption.ts @org/security-team @org/tech-leads

# Security-related configuration ownership
# Requirement: Security Architecture - Security configuration review
*/security/* @org/security-team

# Test file ownership - TypeScript
# Requirement: Development Process Controls - Test coverage review
*.test.ts @org/qa-team @org/tech-leads

# React component test file ownership
# Requirement: Development Process Controls - Frontend test coverage review
*.test.tsx @org/qa-team @org/tech-leads

# Python test file ownership
# Requirement: Development Process Controls - Python test coverage review
*.test.py @org/qa-team @org/tech-leads
